# PostgreSQL container (Docker Compose)
POSTGRES_USER=semantic_user
POSTGRES_DB=semantic_db

# Django database connection
DB_USER=semantic_user
DB_NAME=semantic_db
DB_HOST=semantic-search-db
DB_PORT=5432

# AWS
S3_BUCKET_NAME=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_DEFAULT_REGION=us-east-1
